APP_ENV=production
APP_PORT=8080
APP_IMAGE=ghcr.io/<ANONYMOUS_OWNER>/carehub:<COMMIT_SHA>
APP_REPLICAS=3
POSTGRES_DB=carehub
POSTGRES_USER=carehub
POSTGRES_PASSWORD=<INJECT_FROM_SECRET_STORE>
VCS_REF=<COMMIT_SHA>
BUILD_DATE=<UTC_BUILD_DATE>
